{% extends "portfolio_app/base.html" %} {% block title %}Blogs{% endblock %}
{%block content %} {% for blog in blogs %}
<div class="card" style="width: 18rem">
  <div class="card-body">
    <a href="{% url 'blog:detail' blog.id %}">
      <h5 class="card-title">{{ blog.title }}</h5>
    </a>
    <p class="card-text">{{ blog.description|truncatechars:100 }}</p>
  </div>
  <div class="card-footer text-muted">
    Created {{ blog.timestamp|date:'d M Y' }}
  </div>
</div>
{% endfor %} {% endblock %}
